@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Receitas";
}

<h2 data-bind="text: title"></h2>

<grid params="{name:'Teste',url:gridUrl, collumns: collumns, defaultAction: defaultAction,createAction:newAction}"></grid>