
<button class="btn btn-danger" type="button" data-bind="visible:withDeleteAction, enable: selectedRows().length , click: deleteItem">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir
    <span class="badge" data-bind="visible:selectedRows().length, text: selectedRows().length"></span>
</button>
<!--<button class="btn btn-primary disabled" type="button" role="presentation" data-bind="visible:selectedRows().length">
    Selecionados <span class="badge" data-bind="text: selectedRows().length"></span>
</button>-->
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="col-sm-1 text-center"><input type="checkbox" data-bind="checked: checkAll" /></td>
                <!--ko foreach: collumns-->
                <th data-bind="text:title"></th>
                <!--/ko-->
            </tr>
        </thead>
        <tbody data-bind="foreach: dataSource().dataSet">
            <tr>
                <td class="col-sm-1 text-center"><input type="checkbox" data-bind="value:$data.id, checked:$parent.selectedRows" /></td>
                <!--ko foreach: $parent.collumns-->
                <td data-bind="text: $parent[$data.prop], formatter: $data.format"></td>
                <!--/ko-->
            </tr>
        </tbody>
    </table>
    <page-control params="{totalPages: totalPages, currentPage: currentPage, onGoTo: goToPage.bind($data), onNext: next.bind($data), onPrev:prev.bind($data)}"></page-control>
</div>