<div class="table-responsive grid_content">
    <table class="table table-bordered">
        <thead>
            <tr>
                <!--ko if: isMultiSelect-->
                <td class="col-sm-1 text-center"><input type="checkbox" data-bind="checked: checkAll" /></td>
                <!--/ko-->
                <!--ko foreach: collumns-->
                <th data-bind="text:title"></th>
                <!--/ko-->
            </tr>
        </thead>
        <tbody data-bind="foreach: dataSource().dataSet">
            <tr data-bind="doubleClick: $parent.defaultAction.bind($parent)">
                <!--ko if: $parent.isMultiSelect-->
                <td class="col-sm-1 text-center"><input type="checkbox" data-bind="value:$data.id, checked:$parent.selectedRows" /></td>
                <!--/ko-->
                <!--ko foreach: $parent.collumns-->
                <td data-bind="text: $parent[$data.prop], formatter: $data.format"></td>
                <!--/ko-->
            </tr>
        </tbody>
    </table>
    <page-control class="right" params="{totalPages: totalPages, currentPage: currentPage, onGoTo: goToPage.bind($data), onNext: next.bind($data), onPrev:prev.bind($data)}"></page-control>
</div>