.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 95px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
	width: 70%;
	margin: 0 auto;

	form{
		margin-top: 15px;
	}

}
.page-header{
	width:70% !important;
	padding: 0 !important;
	margin: 0 auto;
	margin-top:58px !important;
}
section {
    margin: 0 20px;
}

.navbar-nav li.loader {
    margin: 12px 6px 0 6px;
    visibility: hidden;
}

.navbar-nav li.loader.active {
    visibility: visible;
}
